<link rel="stylesheet" type="text/css" href="style.css">
<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.js"></script>
<script src="javascript.js"></script>
<div id="entire-page">
  <div id="image-container">
    <img alt="The image" id="image"/>
  </div>
  <div id="datetime">
    <div id="date"></div>
    <div id="time"></div>
  </div>
</div>
