body {
  background-color: black;
  color: white;
}

img {
  image-orientation: from-image;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

#image-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}

#image-container::before {
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  z-index: 1;
}

#image-container::after {
}

#datetime {
  text-align: right;
  font-size: 30px;
  font-weight: bold;
  display: block;
  float: right;
  position: absolute;
  right: 10px;
  top: 10px;
}

#date, #time {
  position: relative;
}

#datetime::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.7);
}

#entire-page {
  width: 100%;
  height: 100%;
}
